


  <!-- Pie Chart -->
  <div class="col-xs-6">
    <h3>Top 10 Spenders Pie</h3>
    <%= pie_chart @meds.limit(10).group(:brand_name).sum(:unit_count), width: "800px", heigth: "800px" %>
  </div>



  <!-- Column Chart -->
  <div class="col-xs-6">
    <h3>Top 10 Spenders Bar</h3>
    <%= column_chart @meds.limit(10).group(:brand_name).sum(:unit_count) %>
  </div>
